.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 220px;
  background-color: #FFA500; 
  padding: 20px;
  height: 95vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.logo {
  width: 60px;
  height: 60px;
  background-color: #E65C00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logoIcon {
  color: #ecf0f1; 
  font-size: 28px; 
}

.sidebarTitle {
  color: #ecf0f1;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notificationLink {
  color: #ecf0f1;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 1px solid;
}

.notificationLink:hover {
  background-color: #E65C00;
}

.button {
  background-color: #e74c3c;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto; /* Ensures the button stays at the bottom */
}

.logoutButton:hover {
  background-color: #c0392b; /* Darker red on hover */
}



.mainContent {

  flex-grow: 1;
  padding: 20px;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
}

.formSwitcher {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.switchButton {
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.switchButton:hover {
  background-color: #e0e0e0;
}

.switchButton.active {
  background-color: #ff9900;
  color: white;
}


  
  .main {
    flex: 1;
    padding: 2rem;
    overflow: auto;
  }
  
  .addNoteSection {
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .addNoteTitle {
    color: #FF6600;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .addNoteForm {
    display: flex;
    gap: 10px;
  }
  
  .dateInput {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #FF6600;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .addButton {
    background-color: #FF6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .addButton:hover {
    background-color: #E65C00;
  }
  
  .notesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .noteContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.noteLink {
    font-size: 1.125rem;
    color: #3b82f6;
    text-decoration: none;
    margin-top: 1rem;
}
  
.dateBox {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  left:0.5rem;
  background-color: #FFAA1A;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  color: white;
  z-index: 1;
}
.noteCard {
    margin-top: 20px;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transition: transform 0.5s ease-in-out;
}

.noteCard.clicked {
    transform: translateX(100px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.noteImage {
    width: 75%; 
    height:75%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.noteCard:hover .noteImage {
    transform: translate(-3%, -3%) scale(1.1);
}

.deleteButton {
    background-color: #ef4444;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2; 
}

.deleteButton:hover {
    background-color: #dc2626;
    transform: scale(1.4); 
}



.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}
.modalActions {
  display: flex;
  justify-content: space-between;
}
.modalContent h3 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}
.confirmButton {
  background-color: #28a745;
  color: white;
  margin-right: 10px;
}

.cancelButton {
  background-color: #eb0b0b;
  color: white;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.editDateInput,
.editTitleInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.editDateInput:focus,
.editTitleInput:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}


.editButton {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: #e50707;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 2;
}

.editButton:hover {
  background-color: #e50707;
  transform: scale(1.4);
}

.editTitleBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;
  width: 80%;
}

.editTitleInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  font-size: 14px;
}

.editButtons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.saveButton {
  background-color: #4CAF50;
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.875rem;
}

.cancelsButton {
  background-color: #f44336;
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.875rem;
}

.saveButton:hover,
.cancelsButton:hover {
  opacity: 0.9;
  transform: scale(1.1);
}