/* Base Styles */
.container {
    padding: 20px;
    background-color: #ffffff;
    color: #333333;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA500;  
    padding: 10px;
    border-radius: 8px;
}

.navLink {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.logoutButton {
    background-color: #ff3300; 
    border: none;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.title {
    color:#FFA500;  
    margin-bottom: 15px;
    font-size: 24px;
}

.inputField {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

.addButton {
    background-color: #FFA500;  
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.usersList {
    list-style-type: none;
    padding: 0;
}

.userItem {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userActions {
    display: flex;
    gap: 5px; 
}

.editButton,
.deleteButton,
.cancelButton {
    background-color: #ff6600;
    border: none;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.saveButton{
    background-color: #3def25;
    border: none;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.deleteButton {
    background-color: #ff3300;
}

.cancelButton {
    background-color: #ff6600;
}

.editInput {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logoutButton {
        margin-top: 10px;
    }

    .inputField,
    .editInput {
        font-size: 14px;
    }

    .addButton,
    .editButton,
    .deleteButton,
    .saveButton,
    .cancelButton {
        font-size: 14px;
        padding: 8px 16px;
    }

    .userItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .userActions {
        width: 100%;
        justify-content: flex-end;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 20px;
    }

    .inputField,
    .editInput {
        font-size: 12px;
    }

    .addButton,
    .editButton,
    .deleteButton,
    .saveButton,
    .cancelButton {
        font-size: 12px;
        padding: 6px 12px;
    }
}
